Programozas/Gyakorlat/faktorialis/faktorialis/scriptcs_bin/Debug/net7.0/faktorialis
*/.DS_Store
*.dll
*.pdb
Funkcionalis prog./.DS_Store
Funkcionalis prog./.DS_Store
Funkcionalis prog./Gyakorlat/.DS_Store
