.timetable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-white;
}

.opening-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  color: inherit;

  @media only screen and (max-width: 56.25em) {
    font-size: 3vh;
  }
}

.text {
  text-transform: lowercase;
  font-size: 2.4vh;
}
