// COLORS
$color-primary: #00b6b6;
$color-primary-light: #036767;
$color-primary-dark: #4c6f6f
;

$color-secondary-light: rgb(39, 39, 163);
$color-secondary-dark: rgb(41, 41, 135);

$color-tertiary-light: #438acd;
$color-tertiary-dark: #6861a1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;