.benefits {
  padding-top: 20vh;
  margin-top: -20vh;
  display: grid;
  position: relative;
  z-index: 48;
  grid-template-columns: repeat(8, 1fr);

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
  }

  background-image: linear-gradient(
      to right bottom,
      rgba($color-gradient-blue, 0.9),
      rgba($color-secondary, 1)
    ),
    url(../img/Business-2.tiff);
  background-size: cover;

  .benefits-main {
    grid-column: 1 / 7;
    margin: 9rem 10rem;

    @media only screen and (max-width: $bp-medium) {
      margin: 5rem 5rem;
    }
  }

  &__title {
    font-size: 4rem;
    color: $color-primary;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.7rem;
    color: $color-grey-light-1;
    margin-bottom: 1rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  .benefits__reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reason-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    padding-top: 20vh;
    margin-top: -20vh;
    position: relative;
    z-index: 47;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 0;
      margin-top: 0;
      position: relative;
      z-index: 1;
    }
  }

  &__reason {
    grid-column: 7 / -1;
    background-color: $color-secondary;

    &__num {
      font-size: 6rem;
      margin-left: 2rem;
      transform: translateY(-0.5rem);
      color: $color-grey-light-1;
    }

    &__title {
      font-size: 4rem;
      margin-left: 2rem;
      margin-right: 2rem;
      color: $color-secondary;
    }

    &__text {
      margin-top: 2rem;
      font-size: 1.7rem;
      color: $color-grey-light-1;
      font-weight: 400;
      width: 20rem;
      margin-left: 2rem;

      @media only screen and (max-width: $bp-medium) {
        width: 62%;
        margin-bottom: 2rem;
      }
    }
  }
}

.grid {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
  }

  justify-content: flex-start;
  padding-bottom: 10rem;
  padding-top: 20vh;
  margin-top: -20vh;
  display: grid;
  position: relative;
  z-index: 47;
}

.grid__benefits {
  margin-left: 2rem;
}

.height {
  height: 5rem;
}

.fa-globe {
  font-size: 3.8rem;
  padding-right: 1rem;
  color: $color-secondary;
  transform: translateY(4.3rem);
}

.fa-cogs {
  font-size: 3.8rem;
  padding-right: 1rem;
  color: $color-secondary;
  transform: translateY(4.3rem);
}

.fa-lightbulb {
  font-size: 3.8rem;
  padding-right: 0.2rem;
  color: $color-secondary;
  transform: translateY(4.3rem);
}

.fa-network-wired {
  font-size: 3.8rem;
  padding-right: 1rem;
  color: $color-secondary;
  padding-right: 1rem;
  transform: translateY(4.3rem);
}

.fa-shield-alt {
  font-size: 3.8rem;
  padding-right: 0.5rem;
  color: $color-secondary;
  transform: translateY(4.3rem);
}

.fa-server {
  font-size: 3.8rem;
  padding-right: 1rem;
  color: $color-secondary;
  transform: translateY(4.3rem);
}

.flex {
  display: grid;
  align-items: flex-end;
}

.heading-4 {
  font-size: 3rem;
  margin-left: 5rem;
  color: $color-secondary;
}

.grid__text {
  font-size: 1.5rem;
  color: $color-grey-dark-1;
  font-weight: 400;
  margin: 0 5rem;
  margin-top: 1rem;
}
