//COLORS

$color-primary: #80c341;
$color-primary-dark-1: #619900;
$color-primary-light-1: #588d50;

$color-secondary: #003878;
$color-tertiary: #4d90fe;
$color-gradient-blue: #1a4e82;

$color-grey-light-1: #f0f0f0;
$color-grey-light-2: rgba(0, 0, 0, 0.2);

$color-grey-dark-1: rgba(0, 0, 0, 0.5);
$color-grey-dark-2: rgba(0, 0, 0, 0.6);

$color-hover-1: rgba(0, 0, 0, 0.9);

$bp-max: 100em; //1600px
$bp-largest: 87.5em; //1400px
$bp-large: 68.75em; // 1100px
$bp-large-2: 62.5em; //1000px
$bp-medium: 56.25em; // 900px
$bp-medium-2: 43.75em; //700px
$bp-small: 37.5em; // 600px
$bp-min: 25em; //400px
